<div class="shoutbox-container">
    <mat-form-field class="shoutbox">
        <mat-label>Add your shout....</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addShout()">Shout
        </button>
      </mat-form-field>
      <mat-list role="list">
        <mat-list-item *ngFor="let shout of shouts">{{shout}}</mat-list-item>
       <!-- / <mat-list-option *nFgor="let shout of shouts" role="listitem" >{{shout}}</mat-list-option> -->
      </mat-list>
</div>
